body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 4rem;
    background-color: #333; /* Cor de fundo para o header */
    color: #fff; /* Cor do texto no header */
    padding: 10px;
}

.logo {
    font-size: 4em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

h1 {
    font-size: 2em;
    margin: 10px;
}

p {
    font-size: 1.2em;
}

.login-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.login-box {
    border: 1px solid #333; /* Cor da borda dos ret창ngulos */
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2; /* Cor de fundo dos ret창ngulos */
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 90%;
    padding: 5px;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: #333; /* Cor de fundo dos bot천es */
    color: #fff; /* Cor do texto nos bot천es */
    border: none;
    cursor: pointer;
}
